<header>
		<div class="container">
		<div class="logo">
			<h5>EcoBot</h5>
		</div>
		<nav class="desktop">
			<ul>
				<li><a  href="">HOME</a></li>
				<li><a 	href="#servicos">SERVIÇOS</a></li>
				<li><a  href="#sobre">SOBRE</a></li>
				<li><a 	href="#contato">CONTATO</a></li>
			</ul>
		</nav><!--desktop-->
		<nav class="mobile-menu">
			<ul>
				<li><a href="">HOME</a></li>
				<li><a href="#servicos">SERVIÇOS</a></li>
				<li><a href="#sobre">SOBRE</a></li>
				<li><a href="#contato">CONTATO</a></li>
			</ul>
		</nav><!--mobile-menu-->
		<div class="clear"></dir>

		<div class="sessao">
			<div class="chamada1">
				<h2>Sistemas e Bots de vendas</br>
				Para Empresas Autênticas</h2>
				<p> Aumente suas vendas utilizando sistemas de marketing viral e automatize suas vendas com nossos bots</p>
			
			</div><!--chamada1-->

		</div><!--sessao-->

		</div><!--container-->
		
	</header>

	<section  id="servicos" class="sessao1">
	<div class="container">
		 
			<div class="texto-sessao1">
				<h2>Desenvolvemos Sistemas Únicos</h2>
				<p> Abaixo serviços que a empresa realiza
				</p>
				<ul>
					<li>Sites</li>
					<li>Lojas Virtuais</li>
					<li>Sistemas</li>
					<li>Bot de vendas</li>
					<li>Bot de Atendimento</li>
					<li>Bot de sorteio</li>
					<li>Bot de reservas</li>
					<li>Bot de captura de leads</li>
				</ul>

			</div><!--texto-sessao1-->
		
			<div class="clear"></div>
		
			<div class="sessao1-device">
				<script type="text/javascript">
					var bannersnack_embed = {"hash":"bduiqhto0","width":250,"height":450,"t":1608669105,"userId":43211530,"type":"html5"};
				</script>
				<script type="text/javascript" src="//cdn.bannersnack.com/iframe/embed.js">
					
				</script>
			</div><!--sessao1-device-->
		
	</div><!--container-->
	
	</section><!--sessao1-->

	<section class="sessao2">
		<div class="container">
			<div class="sessao2-texto">
				<h2>Facilidade para você e seus clientes</h2>
				<p>Sites Responsivos para atender clientes mobile</p>
			</div><!--sessao2-texto-->
			<img src="imagens/mockup.png">
			
		</div><!--container-->
		
	</section><!--sessao2-->

	<section id="sobre" class="sessao3">
		
			<div class="part1">
			<div class="wraper-part1">
				<h2>Nosso Time</h2>
				<p>Formado por pessoas capacitadas para desenvolver o melhor site para sua empresa e que vão alavancar sua empresa na web. No time temos Design, programador fullstack capaz de desenvolver sistemas para sua empresa, desenvolvedor de bots para messenger e whatsapp que automatiza seu atendimento e marketing digital que aumenta sua visualização na web</p>
			</div><!--wraper-part1-->	
			</div><!--part1-->

	

		<div class="part2">
			<div class="scrollEquipe">
			<div class="scroll-wraper">
			<div class="sobre-author">
				<div class="titulo-author">
					<div class="wraper-titulo-author">
						<h2>Vinicius Lima</h2>
						<p>Co-Founder / Desenvolvedor</p>
					</div><!--wraper-titulo-author-->
						
					<div class="img-author"></div>
					

				</div><!--titulo-author-->

				<div class="texto-author">
					<p>Formado em sistemas para internet é desenvolvedor fullstack e cria bots de vendas para automatizar atendimentos 
					</p>
					
				</div><!--texto-author-->
				
			</div><!--sobre-author-->	

			<div class="sobre-author">
				<div class="titulo-author">
					<div class="wraper-titulo-author">
						<h2>Vinicius Lima</h2>
						<p>Marketing Digital</p>
					</div><!--wraper-titulo-author-->
						
					<div class="img-author"></div>
					

				</div><!--titulo-author-->

				<div class="texto-author">
					<p>Formado em gestão de marketing realiza campanhas de alavacagem de vendas no mundo digital
					</p>
					
				</div><!--texto-author-->
				
			</div><!--sobre-author-->

			<div class="sobre-author">
				<div class="titulo-author">
					<div class="wraper-titulo-author">
						<h2>Vinicius Lima</h2>
						<p>Marketing Digital</p>
					</div><!--wraper-titulo-author-->
						
					<div class="img-author"></div>
					

				</div><!--titulo-author-->

				<div class="texto-author">
					<p>Formado em gestão de marketing realiza campanhas de alavacagem de vendas no mundo digital
					</p>
					
				</div><!--texto-author-->
				
			</div><!--sobre-author-->
			</div><!--scroll-wraper-->
			</div><!--scrollEquipe-->

			<div class="slider-bullets">
				
				
			</div><!--slider-bullets-->
			
		</div><!--part2-->
		<div class="clear"></div>
	</section><!--sessao3-->

	<section id="contato" class="sessao4">

		
			<div class="container">
			   
			    
				<div class="form">
					<div class="containerform">
					<h2>Entre em Contato</h2>
					<p> Fale conosco, realize um orçamento para seu projeto ou tire dúvidas sobre o 
					trabalho que realizamos para nossos clientes</p>

					<form action="/send" method="POST">
						<input type="text" name="nome"
						 placeholder="Nome *">
						 <input type="text" name="email"
						 placeholder="Email *">
						 <textarea name="mensagem" 
						 placeholder="Mensagem *"></textarea>
						 <div class="clear"></div>

						 <div><input type="submit" value="Enviar">
					 		</div>
					</form>
					</div><!--containerform-->
					<div class="resposta">
					</div><!--resposta-->
				</div><!--form-->

				


				<div class="map-wraper">
					<h2>Faça uma visita</h2>
					<div class="map-wraper3">
						<div class="map-wraper2">
								<div class="gmap_canvas">
								<iframe class="map" id="gmap_canvas" src="https://maps.google.com/maps?q=avenida%20maria%20irene,%20885&t=&z=17&ie=UTF8&iwloc=&output=embed" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"></iframe>
							</div><!--gmap_canvas-->
						</div><!--map-wraper2-->
					</div><!--map-wraper3-->
				</div><!--map-wraper-->
				<div class="clear"></div>
			</div><!--container-->
		
	</section><!--sessao4-->

	<footer>
		<div class="container">
			<p>Todos os direitos reservados</p>
			<p>ECOBOT</p>
			<div class="clear"></div>
		</div><!--container-->
	</footer>


