<!DOCTYPE html>
<html>
<head>
	<title>ECOBOT</title>
	<link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap" rel="stylesheet">
	<meta charset="utf-8">
	<meta name="description" content="Agencia de desenvolvimento de sistemas e bot de vendas">
	<meta name="keywords" content="bot,sistemas,vendas,marketing,conversa">
	<meta name="author" content="vinicius lima">
	<meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0">
	<link rel="stylesheet" type="text/css" href="css/estilo.css">
	<link rel="shortcut icon" type="image-x/png" href="imagens/icone.ico">
	
</head>
<body>
	{{{body}}}


<script src="js/jquery.js"></script>
<script src="js/function.js"></script>
<script src="js/menuScroll.js"></script>
<script src="js/menu_responsivo.js"></script>
<script src="js/sliderEquipe.js"></script>

</body>
</html>